.featured-box {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 50px 70px;
    margin-bottom: 110px;
}
.featured-box:nth-child(even) {
    grid-template-columns: 1fr 1.2fr;
}

.featured-image img {
    width: 100%;
    cursor: pointer;
}

.project-title h3 {
    font-size: 40px;
    color: #14181a;
    font-weight: 600;
    margin-bottom: 25px;
}
.project-title p {
    color: #14181a;
    font-size: 17px;
    font-family: Rubik,sans-serif;
    line-height: 26px;
    margin-bottom: 25px;
}

.project-list ul li {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
}

.project-list-title h3 {font-size: 18px;font-weight: 500;opacity: .9;display: block;line-height: 25px;}

.project-list-content p {
    color: #14181a;
    font-family: Rubik,sans-serif;
    font-size: 17px;
    display: block;
}

.project-read-more a {
    color: #00a0db;
    font-size: 18px;
    font-family: Rubik,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.project-read-more a i {
    font-size: 18px;
    position: relative;
    right: -10px;
    transition: 0.3s ease;
}
.project-read-more a:hover i{
    right: -20px;
}
.project-read-more {
    margin-top: 40px;
}

