<div class="featured-box">
    <div class="featured-image">
        <img src="../../../assets/img/about/esquire-project-banner-49d9.webp" alt="">
    </div>
    <div class="featured-info-main">
        <div class="project-title">
            <h3>Esquire Electronics</h3>
            <p>Discover how Softlab IT transformed Esquire Electronics' online business with a custom-built MEAN stack e-commerce website. Overcoming the limitations of their previous WordPress platform, Esquire Electronics now enjoys seamless performance, scalability, and increased sales. Explore the remarkable results and the impact of Softlab IT's solution in this SEO-friendly case study.</p>
        </div>
        <div class="project-list">
            <ul>
                <li> 
                <div class="project-list-title">
                    <h3>Industry</h3>
                </div>
                <div class="project-list-content">
                    <p>Electronics</p>
                </div>
                </li>

                <li> 
                <div class="project-list-title">
                    <h3>Location</h3>
                </div>
                <div class="project-list-content">
                    <p>Dhaka</p>
                </div>
                </li>

                <li> 
                <div class="project-list-title">
                    <h3>Technology</h3>
                </div>
                <div class="project-list-content">
                    <p>Angular, Node JS, Mongo DB, Express JS</p>
                </div>
                </li>
            </ul>
        </div>
        <div class="project-read-more">
            <a href="#">Visit Website <i class="fa fa-arrow-right"></i> </a>
        </div>
    </div>
</div>

<div class="featured-box">

    <div class="featured-info-main">
        <div class="project-title">
            <h3>Red Grocer</h3>
            <p>Red Grocer is a keystone of Bangladesh's flourishing e-commerce sector. We offer our services via a website and mobile app and also our smart shops.</p>
        </div>
        <div class="project-list">
            <ul>
                <li> 
                <div class="project-list-title">
                    <h3>Industry</h3>
                </div>
                <div class="project-list-content">
                    <p>Red Grocer Limited</p>
                </div>
                </li>

                <li> 
                <div class="project-list-title">
                    <h3>Location</h3>
                </div>
                <div class="project-list-content">
                    <p>411, 412 Khatunganj Rd</p>
                </div>
                </li>

                <li> 
                <div class="project-list-title">
                    <h3>Technology</h3>
                </div>
                <div class="project-list-content">
                    <p>Angular ,Nestjs-basic-ecommerce-api</p>
                </div>
                </li>
            </ul>
        </div>
        <div class="project-read-more">
            <a href="#">Visit Website <i class="fa fa-arrow-right"></i> </a>
        </div>
    </div>

    <div class="featured-image">
        <img src="../../../assets/img/about/red-grocer-project-3cc3.webp" alt="">
    </div>
</div>

<div class="featured-box">
    <div class="featured-image">
        <img src="" alt="">
    </div>
    <div class="featured-info-main">
        <div class="project-title">
            <h3>Shanta Holding Limited</h3>
            <p>Discover the captivating online presence of Shanta Holding Limited through their portfolio website. Experience their brand story, services, and achievements showcased in an engaging and user-friendly manner.</p>
        </div>
        <div class="project-list">
            <ul>
                <li> 
                <div class="project-list-title">
                    <h3>Industry</h3>
                </div>
                <div class="project-list-content">
                    <p>Fintech</p>
                </div>
                </li>

                <li> 
                <div class="project-list-title">
                    <h3>Location</h3>
                </div>
                <div class="project-list-content">
                    <p>Dhaka</p>
                </div>
                </li>

                <li> 
                <div class="project-list-title">
                    <h3>Technology</h3>
                </div>
                <div class="project-list-content">
                    <p>MEAN</p>
                </div>
                </li>
            </ul>
        </div>
        <div class="project-read-more">
            <a href="#">Visit Website <i class="fa fa-arrow-right"></i> </a>
        </div>
    </div>
</div>

<div class="featured-box">

    <div class="featured-info-main">
        <div class="project-title">
            <h3>MK Shipping</h3>
            <p>SoftLab IT partnered with MK Shipping to develop a ticketing solution using the MEAN stack. The solution improved efficiency, passenger experience, and data insights, and it can be scaled for future growth.</p>
        </div>
        <div class="project-list">
            <ul>
                <li> 
                <div class="project-list-title">
                    <h3>Industry</h3>
                </div>
                <div class="project-list-content">
                    <p>Transportation</p>
                </div>
                </li>

                <li> 
                <div class="project-list-title">
                    <h3>Location</h3>
                </div>
                <div class="project-list-content">
                    <p>Dhaka</p>
                </div>
                </li>

                <li> 
                <div class="project-list-title">
                    <h3>Technology</h3>
                </div>
                <div class="project-list-content">
                    <p>MEAN</p>
                </div>
                </li>
            </ul>
        </div>
        <div class="project-read-more">
            <a href="#">Visit Website <i class="fa fa-arrow-right"></i> </a>
        </div>
    </div>

    <div class="featured-image">
        <img src="../../../assets/img/about/mkshipping-project-7865.webp" alt="">
    </div>
</div>
