.blog-date h4 {
    color: #14181a;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

.blog-date {
    margin-bottom: 15px;
}

.blog-title h3 {
    color: #14181a;
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
}

.blog-title {
    margin-bottom: 20px;
}

.blog-creater-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: fill;
}

.blog-creater-name h3 {
    color: #14181a;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.blog-creater-name h5 {
    color: #14181a;
    font-weight: 500;
    font-size: 15px;
    margin-top: 3px;
    line-height: 23px;
}

.blog-creater {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.blog-btn a {
    color: #00a0db;
    font-family: Rubik,sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.blog-btn i {
    position: relative;
    right: -10px;
    font-size: 18px;
    transition: all .3s ease;
    color: #00a0db;
}
.blog-btn:hover i{
    right: -20px;
}
.blog-right img {
    width: 100%;
}
.blog-inner {
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    grid-gap: 20px;
    margin-bottom: 100px;
}