
<div class="technology-main">
    <div class="tab-description-left">
        <h3>Why choose the best technologies?</h3>
        <p>Angular, Node.js, and MongoDB are three powerful technologies that, when combined, can provide a robust and efficient web development environment. When these three technologies are combined, developers can build web applications that are highly responsive, scalable, and easy to maintain.
            Node.js provides a fast and scalable server-side environment, while Angular provides a powerful front-end framework that simplifies the development of complex user interfaces. MongoDB provides a flexible and scalable database that can handle large amounts of data.</p>
        <a href="#">LEARN MORE <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="tab-description-right">
        <h3>Technology</h3>
        <div class="tech-brand-logo-area">
            <div class="tech-brand-logo">
                <img src="../../../assets/img/technologies/angular-gray.svg" alt="">
            </div>
            <div class="tech-brand-logo">
                <img src="../../../assets/img/technologies/nodejs-logo.svg" alt="">
            </div>
            <div class="tech-brand-logo">
                <img src="../../../assets/img/technologies/mongodb-gray.svg" alt="">
            </div>
            <div class="tech-brand-logo">
                <img src="../../../assets/img/technologies/amazon-logo.svg" alt="">
            </div>
            <div class="tech-brand-logo">
                <img src="../../../assets/img/technologies/ionic-gray.svg" alt="">
            </div>
            <div class="tech-brand-logo">
                <img src="../../../assets/img/technologies/flutter-gray.svg" alt="">
            </div>
        </div>
    </div>
</div>
