<!-- about me section area -->
<div class="about-me">
    <div class="slider">
        <app-carousel [images]="images"></app-carousel>
    </div>
    <div class="container">
        <app-navber-menu></app-navber-menu>
        <div class="banner-main-title">
            <div class="banner-text">
                <div class="banner-content-text">
                    <h3>Exclusive New E-Commerce Website Offer!</h3>
                    <p>Get your online business up and running with our special package designed for new businesses. Launch your website with essential features and start selling today!</p>
                    <button>View Packages</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- offer info section area -->
<section class="offer-info">
    <div class="container">
        <div class="offer-text">
            <p>Get your online business up and running with our special package designed for new businesses. Launch your website with essential features and start selling today!</p>
            <p>Attention new entrepreneurs! Take advantage of our limited-time offer and kickstart your online journey with our basic package. Don't miss out on this opportunity!</p>
        </div>
    </div>
</section>
<!-- our package section area -->
<section class="package">
    <div class="container">
        <div class="section-title">
            <h3>Our Packages</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, qui.</p>
        </div>
        <div class="package-inner">
            <div class="packages">
                <div class="package-card">
                    <div class="package-card-top">
                        <h4>New Business Boost</h4>
                        <h1>$50</h1>
                        <span>Ecommerce</span>
                    </div>
                    <div class="package-card-bottom">
                        <div class="package-des">
                            <p>Are you a new business looking to establish your online presence? We've got you...</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li><i class="fa fa-caret-right"></i> Mobile Responsive Website Design</li>
                                <li><i class="fa fa-caret-right"></i> Basic Product Catalog</li>
                                <li><i class="fa fa-caret-right"></i> Secure Payment Gateway Integration</li>
                                <li><i class="fa fa-caret-right"></i> Order Management System</li>
                                <li><i class="fa fa-caret-right"></i> Customer Registration and Login</li>
                                <li><i class="fa fa-caret-right"></i> Basic SEO Optimization</li>
                            </ul>
                        </div>
                        <div class="package-btn">
                            <button>Book Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="packages">
                <div class="package-card">
                    <div class="package-card-top">
                        <h4>Starter E-Commerce Package</h4>
                        <h1>$100</h1>
                        <span>Ecommerce</span>
                    </div>
                    <div class="package-card-bottom">
                        <div class="package-des">
                            <p>Are you a new business looking to establish your online presence? We've got you...</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li><i class="fa fa-caret-right"></i> Mobile Responsive Website Design</li>
                                <li><i class="fa fa-caret-right"></i> Basic Product Catalog</li>
                                <li><i class="fa fa-caret-right"></i> Secure Payment Gateway Integration</li>
                                <li><i class="fa fa-caret-right"></i> Order Management System</li>
                                <li><i class="fa fa-caret-right"></i> Customer Registration and Login</li>
                                <li><i class="fa fa-caret-right"></i> Basic SEO Optimization</li>
                                <li><i class="fa fa-caret-right"></i> Social Media Integration</li>
                                <li><i class="fa fa-caret-right"></i> Email Support</li>
                                <li><i class="fa fa-caret-right"></i> Analytics and Reporting</li>
                            </ul>
                        </div>
                        <div class="package-btn">
                            <button>Book Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="packages">
                <div class="package-card">
                    <div class="package-card-top">
                        <h4>Professional E-Commerce Package</h4>
                        <h1>$300</h1>
                        <span>Ecommerce</span>
                    </div>
                    <div class="package-card-bottom">
                        <div class="package-des">
                            <p>Are you a new business looking to establish your online presence? We've got you...</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li><i class="fa fa-caret-right"></i> Comprehensive Online Store</li>
                                <li><i class="fa fa-caret-right"></i> Customizable Design</li>
                                <li><i class="fa fa-caret-right"></i> Unlimited Product Catalog</li>
                                <li><i class="fa fa-caret-right"></i> Advanced Payment Gateway Integration</li>
                                <li><i class="fa fa-caret-right"></i> Advanced Order Management System</li>
                                <li><i class="fa fa-caret-right"></i> Customer Registration and Login with User Roles</li>
                                <li><i class="fa fa-caret-right"></i> Advanced SEO Optimization</li>
                                <li><i class="fa fa-caret-right"></i> Social Media Integration and Marketing Tools</li>
                                <li><i class="fa fa-caret-right"></i> Email Marketing Integration</li>
                                <li><i class="fa fa-caret-right"></i> Live Chat Support</li>
                                <li><i class="fa fa-caret-right"></i> Analytics and Reporting</li>
                            </ul>
                        </div>
                        <div class="package-btn">
                            <button>Book Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="packages">
                <div class="package-card">
                    <div class="package-card-top">
                        <h4>Enterprise Business</h4>
                        <h1>$1000</h1>
                        <span>Ecommerce</span>
                    </div>
                    <div class="package-card-bottom">
                        <div class="package-des">
                            <p>Are you a new business looking to establish your online presence? We've got you...</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li><i class="fa fa-caret-right"></i> Fully Customized Online Marketplace</li>
                                <li><i class="fa fa-caret-right"></i> Tailored Design and Branding</li>
                                <li><i class="fa fa-caret-right"></i> Unlimited Product Catalog with Advanced Filtering</li>
                                <li><i class="fa fa-caret-right"></i> Multi-vendor Support</li>
                                <li><i class="fa fa-caret-right"></i> Advanced Payment Gateway Integration and Custom Pricing Rules</li>
                                <li><i class="fa fa-caret-right"></i> Advanced Order Management System with Inventory Management</li>
                                <li><i class="fa fa-caret-right"></i> Customer Registration and Login with User Roles and Permissions</li>
                                <li><i class="fa fa-caret-right"></i> Advanced SEO Optimization and Content Marketing</li>
                                <li><i class="fa fa-caret-right"></i> 24/7 Customer Support</li>
                                <li><i class="fa fa-caret-right"></i> Advanced Analytics and Reporting with Custom Dashboards</li>
                                <li><i class="fa fa-caret-right"></i> Advanced Product Recommendations</li>
                                <li><i class="fa fa-caret-right"></i> Multi-language and Multi-currency Support</li>
                                <li><i class="fa fa-caret-right"></i> Custom Reporting and Insights</li>
                            </ul>
                        </div>
                        <div class="package-btn">
                            <button>Book Now</button>
                        </div>
                    </div>
            </div>
            </div>
        </div>
        </div>
</section>
<!-- shcedule section area -->
<section class="schedule">
    <div class="container">
        <div class="schedule-area">
            <app-shcedule></app-shcedule>
        </div>
        <div class="calender-main">
            <div class="calender-area">
                <div class="title-left">
                    <h3>Book a call</h3>
                </div>
                <div class="title-right">
                    <button>SEND A MESSAGE <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <app-user-form></app-user-form>
        </div>
    </div>
</section>
<!-- footer area -->
<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-menu">
                <div class="footer-title">
                    <h3>Menu</h3>
                </div>
                <div class="footer-link">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Cases</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-technology">
                <div class="footer-title">
                    <h3>Technology</h3>
                </div>
                <div class="footer-link">
                    <ul>
                        <li><a href="#">AngularJS</a></li>
                        <li><a href="#">NodeJS</a></li>
                        <li><a href="#">NestJS</a></li>
                        <li><a href="#">lonic</a></li>
                        <li><a href="#">Mongo BD</a></li>
                        <li><a href="#">Flutter</a></li>
                        <li><a href="#">AWS Server</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-office">
                <div class="footer-title">
                    <h3>Office</h3>
                </div>
                <div class="office-details">
                    <p>761/A, Road-11, Avenue-6, Mirpur DOHS, Dhaka 1216</p>
                    <p>Mirpur, Dhaka, Bangladesh</p> <br>
                    <p>56 west spruce st. Lakewood Nj</p>
                    <p>Lakewood Nj, USA</p> <br>
                    <p>Riyadh, King Fahad Road, 2nd floor</p>
                    <p>Riyadh, Saudi Arab</p>
                </div>
            </div>
            <div class="footer-say">
                <div class="footer-title">
                    <h3>Say hello</h3>
                </div>
                <div class="office-details">
                    <a href="#">hmdfahim420@gmail.com</a>
                    <a href="#">mdfahimhossen629@gmail.com</a>
                    <div class="num">
                        <a href="#">+8801645386422</a>
                        <a href="#">+8801600000000</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ntt-area">
            <div class="ntt">
                <p>© 2022-2023 softlabit.com</p>
            </div>
            <div class="ntt-menu">
                <ul>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>